
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}
body{
    background-color: hsl(204, 43%, 93%);
}
section{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 100px auto;
    width: 49rem;
    height: 32rem;
}
.box-1{
    color: rgb(197, 197, 197);
    width: 100%;
    height: 48%;
    background-color: white;
    border-radius: 15px 15px 0 0;
}
.box-1 > p,h1,h3 {
    margin-left: 3.5rem ;
}
.box-1 > h3{
    color: hsl(59deg 73% 54%);
}
p{
    font-size: 19px;
    width: 85%;
    margin-left: 3.5rem;
}
h1{
    margin: 3rem 0 2rem 3.5rem;
    font-family: 'Karla', sans-serif;
    color: hsl(179, 62%, 43%);
}
.box-2,.box-3{
    width: 50%;
    height: 60%;
    color: white;
}
.box-2{
    background-color: hsl(179, 62%, 43%);
    border-radius: 0 0 0 15px;
}

.box-2 > p{
    font-size: 18px;
}
.p-header,.box-3-header{
    margin: 3rem 0 -7px 3.5rem;
    font-family: 'Karla', sans-serif;
    font-size: 20px !important;
}
.p-per{
    color: rgba(255, 255, 255, 0.527) ;
}
.p-full{
    color: rgba(255, 255, 255, 0.712);
}
span{
    font-size: 2.5rem;
    position: relative;
    top: 6px;
    margin-right: .6rem;
    color: white;
}
button{
    margin: 0 0 0 3.5rem;
    background-color: hsl(71, 73%, 54%);
    border: none;
    color: white;
    padding: 1.2rem 6.3rem;
    border-radius: 7px;
    margin-top: 1rem;
    font-size: 19px;
    box-shadow: 2px 12px 38px -13px #0000009e;
    cursor: pointer;
    transition: all .4s;
}
button:hover{
    background-color: hsl(71deg 64% 44%);
}
.box-3{
    background-color: hsl(179deg 49% 52%);
    border-radius: 0 0 15px 0;
}
ul{
    list-style-type: none;
    margin: 2rem 0 ;
    padding: 0;
}
li{
    color: rgba(255, 255, 255, 0.712);
    margin: 3px 0 0 3.5rem;
    font-size: 18px;
    
}
@media screen and (max-width: 800px) {
    section{
        width: 41rem;
    }
    .box-1 > p, h1, h3 {
        margin-left: 2.2rem;
    }
    button{
        margin-left: 2.2rem;
    }
    p{
        margin-left: 2.2rem;
    }
    .p-header, .box-3-header {
        margin: 3rem 0 -7px 2.2rem;
    }
    li{
        margin: 3px 0 0 2.2rem;
    }
}
@media screen and (max-width: 670px) {
    section{
        width: 33rem;
    }
    .box-1 > p, h1, h3 {
        margin-left: 1.2rem;
    }
    button{
        margin-left: 1.2rem;
        padding: 1.2rem 4.8rem;
    }
    p{
        margin-left: 1.2rem;
    }
    .p-header, .box-3-header {
        margin: 3rem 0 -7px 1.2rem;
    }
    li{
        margin: 3px 0 0 1.2rem;
    }
}
@media screen and (max-width: 543px) {
    section{
        width: 21rem;
    }
    .box-1,.box-2,.box-3{
        width: 100%;
        height: 57%;
    }
    .box-1{
        height: 64%;
    }
    .box-2{
        border-radius: 0;
    }
    .box-3{
        border: 0 15px;
    }
    .box-1 > p{
        width: 87%;
        line-height: 27px;
    }
    button{
        padding: 1.2rem 6.3rem;
    }
}